/* Estilo geral do site */

/* Cor padrão dos elementos */
* {
    color: #25282e;
}

/* Transição para âncoras e ícones */
a, i {
    transition: .5s;
    text-decoration: none;
}

/* Definindo cor secundária */
.secondary-color {
    color: #555;
}

/* Definindo configuração padrão da imagem de fundo */
.center-image {
    background-size: cover;
    background-position: center;
}

/* Definindo padrão dos botões */
.btn {
    text-decoration: none;
    background-color: #25282e;
    color: #FFF;
    padding: 7px 18px;
}

.btn:hover {
    background-color: #333;
    color: #FFF;
}

/* Header */

#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#header p {
    margin-bottom: 0;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#logo {
    width: 40px;
    margin-right: 15px;
}

/* Navbar */
#navbar {
    padding: 10px;
    margin: 10px auto;
}

#navbar a {
    width: 80px;
    color: #444;
}

#navbar a:hover{
    color: #c1b696;
}

.main-image {
    height: 400px;
    width: 90%;	
    background-image: url(../img/g_1.jpg);
    position: relative;
}

#main-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-image-info {
    background-color: #FFF;
    padding: 26px;
    align-self: end;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

/* Galeria de arte */
#img2 {
    background-image: url(../img/g_2.jpg);
}

#img3 {
    background-image: url(../img/g_3.jpg);
}

#img4 {
    background-image: url(../img/g_4.jpg);
}

#img5 {
    background-image: url(../img/g_5.jpg);
}

#gallery-container h1,
#gallery-container .col-md-6,
#gallery-container .col-12 {
    margin-bottom: 50px;
}

.small-image-container {
    height: 250px;
    margin-bottom: 20px;
}

/* Rodapé */
footer {
    border-top: 1px solid #CCC;
    height: 250px;
    padding: 30px;
}

footer i {
    font-size: 25px;
}

#social-icons-container {
    padding: 25px;
}

#social-icons-container div {
    text-align: center;
}

footer p {
    text-align: center;
    margin: 20px;
}

footer .marca {
    margin-top: 30px;
}

a:hover {
    color: #c1b696;
}