<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title> Login </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="height: 100vh;">
    <div class="h-100 w-100 container-fluid d-flex flex-column justify-content-center align-content-center align-items-center" style="height: 100%;">
        <form class="col-2 d-flex flex-column justify-content-center align-items-center gap-1">
            <label for="user" class="form-label col-12">Usuário</label>
            <input class="form-control" type="text" id="user">
            <label for="passwd" class="form-label col-12">Senha</label>
            <input class="form-control" type="password" id="passwd">
            <input type="submit" class="btn btn-dark col-6"></button>
        </form>
    </div>
</body>
</html>