<div class="h-100 w-100 container-fluid d-flex flex-column justify-content-center align-content-center align-items-center" style="height: 100%;">
    <img src="https://cdn-icons-png.flaticon.com/512/6681/6681204.png" width="200px" height="200px">
    <form action="/home" method="POST" class="col-2 d-flex flex-column justify-content-center align-items-center gap-1">
        <label for="user" class="form-label col-12">Usuário</label>
        <input class="form-control" type="text" name="user" id="user" required>
        <label for="passwd" class="form-label col-12">Senha</label>
        <input class="form-control" type="password" name="passwd" id="passwd" required>
        <input type="submit" class="btn btn-primary col-5" value="Entrar"></button>
    </form>
</div>
